html,
body,
#map {
  height: 100%;
}
.tooltip {
  position: absolute;
  z-index: 10000;
}
.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}
.material-icons {
  font-size: 18px;
}
.legend {
  line-height: 18px;
  color: #555;
  /*visibility : hidden;*/
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
.leaflet-control-layers-overlays label i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
.descriptionBox {
  position: absolute;
  display: none;
  background: #96B8C9;
  border: 1px solid;
  border-radius: 10px 10px 10px 0px;
  margin: 10px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/*.well {
    padding : 5px;
}

#sidebar .panel-body {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
}
*/
.containByParent {
  width: 100%;
  object-fit: contain;
}
.leaflet-popup-content {
  width: 300px;
}
.connectorText {
  font: 15px arial, sans-serif;
  margin: 5px 10px 0px 5px;
}
/*.sidebar-pane .sidebar-body{
  margin-top:20px;
}*/
.no-margins {
  margin: 0px;
}
/*Jone*/
.sidebar-left {
  border-radius: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
.sidebar-right {
  border-radius: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
/*.sidebar-tabs > li.active, .sidebar-tabs > ul > li.active {
	background-color: #f6eb60;
	color: #333;
}*/
/*.sidebar-left .sidebar-tabs {
	border-right: 1px solid #999;
}

.sidebar-right .sidebar-tabs {
	border-left: 1px solid #999;
}*/
.sidebar-header {
  background-color: #333;
  /*	margin-bottom: 10px;*/
  padding: 0px 40px;
}
/*.sidebar-body {
	margin-top: 0px;
}*/
.sidebar-pane {
  padding: 10px 0px;
}
/*Jone end*/
/* Credit to F. Stephen Kirschbaum. Edited Mats */
.led-grey {
  margin: 0 auto;
  width: 16px;
  height: 16px;
  background-color: #FFFFFF;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #000000 0 -1px 9px, #999999 0 2px 14px;
}
.containerCustom {
  border-style: solid;
  border-width: 3px;
  background: #e2e2e2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e2e2e2), color-stop(50%, #dbdbdb), color-stop(51%, #d1d1d1), color-stop(100%, #fefefe));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0);
  /* IE6-9 */
  padding: 0px;
}
.led-box {
  height: 20px;
  width: 20px;
  margin: 5px;
  float: left;
}
.led-box p {
  font-size: 12px;
  text-align: center;
  margin: 1em;
}
.led-red {
  margin: 0 auto;
  width: 16px;
  height: 16px;
  background-color: #F00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
  -webkit-animation: blinkRed 4s infinite;
  -moz-animation: blinkRed 4s infinite;
  -ms-animation: blinkRed 4s infinite;
  -o-animation: blinkRed 4s infinite;
  animation: blinkRed 4s infinite;
}
.led-yellow {
  margin: 0 auto;
  width: 16px;
  height: 16px;
  background-color: #FF0;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
  -webkit-animation: blinkYellow 4s infinite;
  -moz-animation: blinkYellow 4s infinite;
  -ms-animation: blinkYellow 4s infinite;
  -o-animation: blinkYellow 4s infinite;
  animation: blinkYellow 4s infinite;
}
.led-green {
  margin: 0 auto;
  width: 16px;
  height: 16px;
  background-color: #ABFF00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
  -webkit-animation: blinkGreen 4s infinite;
  -moz-animation: blinkGreen 4s infinite;
  -ms-animation: blinkGreen 4s infinite;
  -o-animation: blinkGreen 4s infinite;
  animation: blinkGreen 4s infinite;
}
.led-blue {
  margin: 0 auto;
  width: 16px;
  height: 16px;
  background-color: #24E0FF;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #3F8CFF 0 2px 14px;
}
@-webkit-keyframes blinkGreen {
  from {
    background-color: #83F52C;
  }
  50% {
    background-color: #61B329;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #3F602B 0 -1px 9px, rgba(0, 255, 0, 0.5) 0 2px 0;
  }
  to {
    background-color: #83F52C;
  }
}
@-moz-keyframes blinkGreen {
  from {
    background-color: #83F52C;
  }
  50% {
    background-color: #61B329;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #3F602B 0 -1px 9px, rgba(0, 255, 0, 0.5) 0 2px 0;
  }
  to {
    background-color: #83F52C;
  }
}
@-ms-keyframes blinkGreen {
  from {
    background-color: #83F52C;
  }
  50% {
    background-color: #61B329;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #3F602B 0 -1px 9px, rgba(0, 255, 0, 0.5) 0 2px 0;
  }
  to {
    background-color: #83F52C;
  }
}
@-o-keyframes blinkGreen {
  from {
    background-color: #83F52C;
  }
  50% {
    background-color: #61B329;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #3F602B 0 -1px 9px, rgba(0, 255, 0, 0.5) 0 2px 0;
  }
  to {
    background-color: #83F52C;
  }
}
@keyframes blinkGreen {
  from {
    background-color: #83F52C;
  }
  50% {
    background-color: #61B329;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #3F602B 0 -1px 9px, rgba(0, 255, 0, 0.5) 0 2px 0;
  }
  to {
    background-color: #83F52C;
  }
}
@-webkit-keyframes blinkYellow {
  from {
    background-color: #FF0;
  }
  50% {
    background-color: #AA0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0;
  }
  to {
    background-color: #FF0;
  }
}
@-moz-keyframes blinkYellow {
  from {
    background-color: #FF0;
  }
  50% {
    background-color: #AA0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0;
  }
  to {
    background-color: #FF0;
  }
}
@-ms-keyframes blinkYellow {
  from {
    background-color: #FF0;
  }
  50% {
    background-color: #AA0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0;
  }
  to {
    background-color: #FF0;
  }
}
@-o-keyframes blinkYellow {
  from {
    background-color: #FF0;
  }
  50% {
    background-color: #AA0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0;
  }
  to {
    background-color: #FF0;
  }
}
@keyframes blinkYellow {
  from {
    background-color: #FF0;
  }
  50% {
    background-color: #AA0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0;
  }
  to {
    background-color: #FF0;
  }
}
@-webkit-keyframes blinkRed {
  from {
    background-color: #F00;
  }
  50% {
    background-color: #A00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
  }
  to {
    background-color: #F00;
  }
}
@-moz-keyframes blinkRed {
  from {
    background-color: #F00;
  }
  50% {
    background-color: #A00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
  }
  to {
    background-color: #F00;
  }
}
@-ms-keyframes blinkRed {
  from {
    background-color: #F00;
  }
  50% {
    background-color: #A00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
  }
  to {
    background-color: #F00;
  }
}
@-o-keyframes blinkRed {
  from {
    background-color: #F00;
  }
  50% {
    background-color: #A00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
  }
  to {
    background-color: #F00;
  }
}
@keyframes blinkRed {
  from {
    background-color: #F00;
  }
  50% {
    background-color: #A00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
  }
  to {
    background-color: #F00;
  }
}
/* End Credit to F. Stephen Kirschbaum. Edited Mats */
